[submodule "DTTNetPytorch"]
	path = DTTNetPytorch
	url = https://github.com/junyuchen-cjy/DTTNet-Pytorch
[submodule "BandSplitRNN"]
	path = BandSplitRNN
	url = https://github.com/crlandsc/Music-Demixing-with-Band-Split-RNN
